.debug {
  border: 1px dashed red;
}

.bg-blue {
  background-color: rgb(12, 78, 128);
}

.cardx {
  width: 10%;
  aspect-ratio: 1/1;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 90%;

  background-color: green;
}

.fizzbuzz {
  background-color: red;
}

.fizz {
  background-color: yellow;
}

.buzz {
  background-color: blue;
}
